scriptrio/scripts/mail/flows.json
[
    {
        "type": "tab",
        "id": "3b910fb0.c46ef",
        "label": ""
    },
    {
        "id": "b6cffeae.493",
        "type": "http request",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.scriptr.io/mail/alert",
        "x": 297,
        "y": 96,
        "z": "3b910fb0.c46ef",
        "wires": [
            [
                "c741a972.38be58"
            ]
        ]
    },
    {
        "id": "6230d072.9dcf3",
        "type": "inject",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 115,
        "y": 91,
        "z": "3b910fb0.c46ef",
        "wires": [
            [
                "9dfd3fe2.6202c"
            ]
        ]
    },
    {
        "id": "9dfd3fe2.6202c",
        "type": "function",
        "name": "curl",
        "func": "var access_token = 'XXXXXXXXXXyyyy==';\nvar content_type = 'application/x-www-form-urlencoded';\nmsg.headers = {'Authorization':'Bearer ' + access_token, 'content-type' : content_type};\nmsg.payload='apsws.time=' + msg.payload;\nreturn msg;",
        "outputs": 1,
        "x": 202,
        "y": 27,
        "z": "3b910fb0.c46ef",
        "wires": [
            [
                "b6cffeae.493"
            ]
        ]
    },
    {
        "id": "c741a972.38be58",
        "type": "json",
        "name": "",
        "x": 442,
        "y": 96,
        "z": "3b910fb0.c46ef",
        "wires": [
            [
                "f619f320.09e61"
            ]
        ]
    },
    {
        "id": "5be85e77.a417a",
        "type": "debug",
        "name": "Failure",
        "active": true,
        "console": "false",
        "complete": "payload.response.metadata.errorCode",
        "x": 747,
        "y": 67,
        "z": "3b910fb0.c46ef",
        "wires": []
    },
    {
        "id": "f619f320.09e61",
        "type": "switch",
        "name": "",
        "property": "payload.response.metadata.status",
        "rules": [
            {
                "t": "eq",
                "v": "failure"
            },
            {
                "t": "eq",
                "v": "success"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 586,
        "y": 97,
        "z": "3b910fb0.c46ef",
        "wires": [
            [
                "5be85e77.a417a"
            ],
            [
                "ae06ed69.51f91"
            ]
        ]
    },
    {
        "id": "ae06ed69.51f91",
        "type": "debug",
        "name": "Success",
        "active": true,
        "console": "false",
        "complete": "payload.response.result",
        "x": 747,
        "y": 127,
        "z": "3b910fb0.c46ef",
        "wires": []
    },
    {
        "id": "ae48f936.51b708",
        "type": "comment",
        "name": "Debug",
        "info": "22.03.2015, 06:39:06[Success]\n[msg.payload.response.result] : (Object)\n{ \"metadata\": { \"status\": \"success\" } }",
        "x": 908,
        "y": 126,
        "z": "3b910fb0.c46ef",
        "wires": []
    }
]
